$pageWidth: 100vw;
$pageHeight: 100vh;
$colorBG: black;
$colorMain: white;
$fontMain: 'Open Sans', sans-serif;


html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: $fontMain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.centeredItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullPage {
  height: $pageHeight - 10vh;
  width: $pageWidth;
}

#page1 {
  border-style: solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 8em;

  .controls {
    position: fixed;
  }
  #left {
    left: 2vw;
  }
  #right {
    left: $pageWidth - 10vw;
  }

  #topics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#page2 {
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* total width */
::-webkit-scrollbar {
    background-color: black;
    width:16px
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track { background-color: white }

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius:0;
    border:1px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {display:none}
