$pageWidth: 100vw;
$pageHeight: 100vh;
$colorBG: black;
$colorMain: white;
$fontMain: 'Open Sans', sans-serif;

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: $fontMain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

.centeredItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page1 {
  height: $pageHeight;
  width: $pageWidth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8em;

  #topics {
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px;
    font-size: 15px;

    button {
      width: 15em;
      height: 5em;
      background-color: white;
      color: black;
      transition-duration: 0.4s;
    }

    button:hover {
      background-color: black;
      color: white;
    }

    #theTopic {
      border-style: solid;
      width: 25em;
      padding: 10px;
    }
  }
}

#page2 {

}

#App-footer {
  display: flex;
  width: $pageWidth;
  position: absolute;
  align-items: center;

  #musicPlayer {
    width: 100%;
    color: blue;
  }
}
